* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}

body { 
    background: linear-gradient(#B06AB3, #4568DC ) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section { 
    display: grid;
}

/*accordian card */ 
.card { 
    background-color: white;
    width: 1100px; 
    border-radius: 25px;
    margin: auto;
    margin-top: 10%;
    overflow: hidden;
}

.flex { 
    display: flex; 
   
}

/*image section*/ 

.card .flex { 
    justify-content: space-between;
    align-items: center;
    left: -900px;
    gap: 20px;
}

.img-section{ 
    max-width: 1100px;
    max-height: 650px;
    position: relative;
    top: -310px;
    left: -650px;
}

.desktop-bg { 
    background-image: url("./images/bg-pattern-desktop.svg");
    width: 1100px;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.desktop-img { 
    width: 515px;
    height: 390px;
    position: relative;
    top: 395px;
    left: 555px;
    z-index: 1;
}

.desktop-box { 
    position: absolute;
    margin-left: -105px ;
    z-index: 3;
}

/*faq section */ 
.faq-section { 
    right: 550px;
    width: 500px;
    margin: 80px 35px 60px -10px;
    position: relative;
    /* max-height: 650px; */
}

.faq-section h1 { 
    width: 490px;
    margin: 5px;
}

ul { 
    list-style: none;
}

/*question-panel*/ 
.qn-panel { 
    width: 490px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
    transition: 0.4s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qn { 
    float: left;
    font-weight: 300;
    color: #14292E;
}

.qn-panel p:hover { 
    cursor: pointer;
    color: orange;
}

.qn-panel .flex { 
    align-items: center;
    text-align: left;
}

/*answer-panel*/

.ans-panel { 
    width: 490px;
    max-height: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    display: none;
    overflow: hidden;
    float: left;
    transition: 0.2s ease-in;
    transition: max-height 0.2s ease-out;
}

/*active status */ 

.activeStatus { 
    font-weight: bolder;
}

.ansActiveStatus { 
    display: block;
}

.arrow-drop-down{ 
    transform: rotate(180deg);
}

/*footer*/

.attribution { 
    margin-bottom: 0;
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* responsive design - tablets */

@media only screen and (min-width: 600px) {
    .card { 
        width: auto;
        margin: 150px 60px 50px 60px;
    }
}

/* responsive design - mobiles */
@media(max-width: 768px) { 

    .card { 
        width: auto;
        margin: 150px 15px 50px 15px;
    }

    .card .flex { 
        flex-direction: row;
        margin: 10px;        
    }

    /*img section*/

    .img-section { 
        margin: auto;
        position: absolute;
        top: 10px;
        left: 50px;
    }
    

    .desktop-bg { 
        width: 275px;
        height: 270px;
        position: absolute;
        
    }

    .desktop-img { 
        width: 275px;
        height: 210px;
        position: absolute;
        margin-top: -382px;
        left: 0;
    }

    .desktop-box { 
        position: absolute;
        margin-left: 0px;
        z-index: 3;
        width: 115px;
        top: 90px;
    }

    /*faq-section*/

    .faq-section { 
        right: 0;
        width: auto;
        margin: 60px 5px 10px 5px;
    }

    .faq-section h1 { 
        width: auto;
        margin: 100px 10px 10px 10px;
        text-align: center;
    }
    
    .qn-panel { 
        width: 280px;
        height: auto;
        padding-left: 0;
    }
    .qn{
        float: right;

    }
    
    .ans-panel { 
        width: 260px;
        margin-left: 10px;
    }
  
}

